/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  header img{
    width: 5%;
    float: right;
  }
  html {
    font-size: 10px;
   
  }
  
  body {
    width: 98%;
    margin: 0 auto;
  }
  
  /* || typography */
  
  h1, h2, h3 {
    font-family: 'Sonsie One', cursive;
    color: #000000;
  }
  
  p, input, li {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #640f0f;
  }
  
  main, header, nav, article, aside, footer, section {
    background-color: #28c028;
    padding: 1%;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 10px black;
  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  /* || header layout */
  
  nav, article, aside, footer {
    background-color: #2aea2a;
    padding: 1%;
  }
  
  nav {
    height: 50px;
    background-color: #2aea2a;
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align:center;
    flex: 1;
  }
 
  
  nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  
  nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
  }
  
  input {
    font-size: 1.6rem;
    height: 32px;
  }
  
  input[type="search"] {
    flex: 3;
  }
  
  input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #1f0303;
    border: 0;
    color: white;
  }
  
 
  img {
    width: 45%;
  }

  main {
    display: flex;
  }
  
  article {
    flex: 4;
  }
  
  aside {
    flex: 1;
    margin-left: 10px;
    background-color: #2aea2a;
  }
  
  aside li {
    padding-bottom: 10px;
  }
  
  footer {
    margin-top: 10px;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    
  }
  .grid-item1 {
    background-color: rgba(0, 236, 90, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item2 {
    background-color: rgba(9, 26, 218, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item3 {
    background-color: rgba(215, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item4 {
    background-color: rgba(248, 0, 243, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item5 {
    background-color: rgba(66, 137, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item6 {
    background-color: rgba(255, 217, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
.page2{
    background-color: #2196F3;
}
.page1{
    background-color: #187318;
}
.page3{
    background-color: #2dff49;
}